.aboutUsChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--global-white);
  width: 1440px;
  height: 1042px;
}
.aboutUsItem {
  position: absolute;
  top: 700px;
  left: -127px;
  border-radius: 50%;
  background: linear-gradient(
    37.59deg,
    rgba(193, 217, 219, 0.5) 23.9%,
    rgba(255, 255, 255, 0.5) 70.77%
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 526px;
  height: 508px;
}
.socialIconAndLogo {
  position: absolute;
  height: 2.14%;
  width: 7.43%;
  top: 6.45%;
  right: 7.78%;
  bottom: 91.42%;
  left: 84.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aboutUs1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 1271px;
}
.enjoyASuite {
  margin: 0;
}
.enjoyASuiteContainer1 {
  line-break: anywhere;
  width: 100%;
}
.enjoyASuiteContainer {
  position: absolute;
  top: 120px;
  left: 19.2px;
  font-size: var(--font-size-29xl);
  letter-spacing: 0.1em;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
  display: flex;
  align-items: center;
  width: 1251.8px;
  height: 240px;
}
.aboutMe {
  position: absolute;
  top: 150px;
  left: 117px;
  width: 1271px;
  height: 360px;
  text-align: center;
  font-size: var(--font-size-21xl);
  font-family: var(--font-poppins);
}
.about,
.tc {
  position: absolute;
  top: 58px;
  left: 733px;
}
.about {
  top: 62px;
  left: 842px;
  text-decoration: underline;
}
.aboutUsInner,
.contactUs {
  position: absolute;
  top: 58px;
  left: 953px;
}
.aboutUsInner {
  height: 42.33%;
  width: 53.47%;
  top: 59.28%;
  right: 24.17%;
  bottom: -1.61%;
  left: 22.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home {
  position: absolute;
  top: 58px;
  left: 624px;
}
.asset21 {
  position: relative;
  width: 118px;
  height: 35px;
  object-fit: cover;
}
.logo,
.top {
  width: 118px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.top {
  position: absolute;
  top: 49px;
  left: 50px;
  width: 130px;
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
}
.aboutUs {
  position: relative;
  background-color: var(--global-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--base-shade-100);
  font-family: var(--font-myanmar-khyay);
}
