.image1Icon,
.pricingChild {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.image1Icon {
  width: 1477px;
  object-fit: cover;
}
.pricingChild {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  width: 1440px;
}
.subscription {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 661px;
}
.chooseAPlan {
  position: relative;
  font-size: var(--font-size-title-medium-size);
}
.component6Parent,
.heading {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.heading {
  top: 142px;
  left: 374px;
  width: 698px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.component6Parent {
  top: 328px;
  left: calc(50% - 574.8px);
  flex-direction: row;
  align-items: flex-start;
  gap: 51px;
}
.chooseThePlan {
  position: absolute;
  top: 873px;
  left: calc(50% - 280px);
  font-size: var(--font-size-title-medium-size);
  line-height: 172.02%;
  color: #cecece;
  display: inline-block;
  width: 560px;
}
.pricing {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: center;
  font-size: 45px;
  color: var(--global-white);
  font-family: var(--body-1-medium);
}
.image1Icon,
.pricingChild {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.image1Icon {
  width: 1477px;
  object-fit: cover;
}
.pricingChild {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  width: 1440px;
}
.subscription {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 661px;
}
.chooseAPlan {
  position: relative;
  font-size: var(--font-size-title-medium-size);
}
.component6Parent,
.heading {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.heading {
  top: 142px;
  left: 374px;
  width: 698px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.component6Parent {
  top: 328px;
  left: calc(50% - 574.8px);
  flex-direction: row;
  align-items: flex-start;
  gap: 51px;
}
.chooseThePlan {
  position: absolute;
  top: 873px;
  left: calc(50% - 280px);
  font-size: var(--font-size-title-medium-size);
  line-height: 172.02%;
  color: #cecece;
  display: inline-block;
  width: 560px;
}
.pricing {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: center;
  font-size: 45px;
  color: var(--global-white);
  font-family: var(--body-1-medium);
}
.image1Icon,
.pricingChild {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.image1Icon {
  width: 1477px;
  object-fit: cover;
}
.pricingChild {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  width: 1440px;
}
.subscription {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 661px;
}
.chooseAPlan {
  position: relative;
  font-size: var(--font-size-title-medium-size);
}
.component6Parent,
.heading {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.heading {
  top: 142px;
  left: 374px;
  width: 698px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.component6Parent {
  top: 328px;
  left: calc(50% - 574.8px);
  flex-direction: row;
  align-items: flex-start;
  gap: 51px;
}
.chooseThePlan {
  position: absolute;
  top: 873px;
  left: calc(50% - 280px);
  font-size: var(--font-size-title-medium-size);
  line-height: 172.02%;
  color: #cecece;
  display: inline-block;
  width: 560px;
}
.pricing {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: center;
  font-size: 45px;
  color: var(--global-white);
  font-family: var(--body-1-medium);
}
.image1Icon,
.pricingChild {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.image1Icon {
  width: 1477px;
  object-fit: cover;
}
.pricingChild {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  width: 1440px;
}
.subscription {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 661px;
}
.chooseAPlan {
  position: relative;
  font-size: var(--font-size-title-medium-size);
}
.component6Parent,
.heading {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.heading {
  top: 142px;
  left: 374px;
  width: 698px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.component6Parent {
  top: 328px;
  left: calc(50% - 574.8px);
  flex-direction: row;
  align-items: flex-start;
  gap: 51px;
}
.chooseThePlan {
  position: absolute;
  top: 873px;
  left: calc(50% - 280px);
  font-size: var(--font-size-title-medium-size);
  line-height: 172.02%;
  color: #cecece;
  display: inline-block;
  width: 560px;
}
.pricing {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: center;
  font-size: 45px;
  color: var(--global-white);
  font-family: var(--body-1-medium);
}
.image1Icon,
.pricingChild {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.image1Icon {
  width: 1477px;
  object-fit: cover;
}
.pricingChild {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  width: 1440px;
}
.subscription {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 661px;
}
.chooseAPlan {
  position: relative;
  font-size: var(--font-size-title-medium-size);
}
.component6Parent,
.heading {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.heading {
  top: 142px;
  left: 374px;
  width: 698px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.component6Parent {
  top: 328px;
  left: calc(50% - 574.8px);
  flex-direction: row;
  align-items: flex-start;
  gap: 51px;
}
.chooseThePlan {
  position: absolute;
  top: 873px;
  left: calc(50% - 280px);
  font-size: var(--font-size-title-medium-size);
  line-height: 172.02%;
  color: #cecece;
  display: inline-block;
  width: 560px;
}
.pricing {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: center;
  font-size: 45px;
  color: var(--global-white);
  font-family: var(--body-1-medium);
}
.image1Icon,
.pricingChild {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.image1Icon {
  width: 1477px;
  object-fit: cover;
}
.pricingChild {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  width: 1440px;
}
.subscription {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 661px;
}
.chooseAPlan {
  position: relative;
  font-size: var(--font-size-title-medium-size);
}
.component6Parent,
.heading {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.heading {
  top: 142px;
  left: 374px;
  width: 698px;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.component6Parent {
  top: 328px;
  left: calc(50% - 574.8px);
  flex-direction: row;
  align-items: flex-start;
  gap: 51px;
}
.chooseThePlan {
  position: absolute;
  top: 873px;
  left: calc(50% - 280px);
  font-size: var(--font-size-title-medium-size);
  line-height: 172.02%;
  color: #cecece;
  display: inline-block;
  width: 560px;
}
.pricing {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: center;
  font-size: 45px;
  color: var(--global-white);
  font-family: var(--body-1-medium);
}
.image1Icon,
.pricingChild {
  position: absolute;
  top: 0;
  left: 0;
  height: 623px;
}
.image1Icon {
  width: 1477px;
  object-fit: cover;
}
.pricingChild {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
  width: 1440px;
}
.subscription {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 661px;
}
.chooseAPlan {
  position: relative;
  font-size: var(--font-size-title-medium-size);
}
.heading {
  position: absolute;
  top: 142px;
  left: 374px;
  width: 698px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}
.businessTeam {
  position: relative;
  line-height: 145%;
  display: inline-block;
  width: 197.1px;
}
.starterPack {
  position: relative;
  font-weight: 500;
}
.starterPackWrapper {
  border-radius: var(--br-148xl);
  background-color: var(--color-coral);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.019704818725586px 36.738914489746094px;
  font-size: 30.06px;
  color: var(--global-white);
}
.businessTeamParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8.35px;
}
.displayStarsIn,
.month {
  position: relative;
  display: inline-block;
}
.month {
  font-size: 60.12px;
  width: 298.9px;
}
.displayStarsIn {
  line-height: 170%;
  font-weight: 500;
  color: var(--color-dimgray-100);
  width: 258.8px;
}
.frameParent {
  border-radius: 20.04px;
  background-color: var(--global-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60.11822509765625px 20.039409637451172px;
  gap: 30.06px;
}
.choosePlan {
  position: relative;
  font-weight: 600;
}
.choosePlanWrapper,
.starterPackContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.choosePlanWrapper {
  border-radius: 45.09px;
  background-color: var(--color-coral);
  align-items: center;
  padding: 10.019704818725586px 23.379310607910156px;
  margin-top: -21.71px;
  font-size: var(--paragraph-1-size);
  color: var(--global-white);
}
.starterPackContainer {
  border-radius: var(--br-148xl);
  background-color: var(--global-white);
  align-items: flex-start;
  padding: 10.019704818725586px 36.738914489746094px;
  font-size: 30.06px;
  color: var(--color-coral);
}
.displayStarsIn1 {
  position: relative;
  line-height: 170%;
  font-weight: 500;
  display: inline-block;
  width: 258.8px;
}
.choosePlanContainer,
.frameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frameContainer {
  border-radius: 20.04px;
  background-color: var(--color-coral);
  flex-direction: column;
  padding: 60.11822509765625px 20.039409637451172px;
  gap: 30.06px;
}
.choosePlanContainer {
  border-radius: 45.09px;
  background-color: var(--global-white);
  flex-direction: row;
  padding: 10.019704818725586px 23.379310607910156px;
  margin-top: -21.71px;
  font-size: var(--paragraph-1-size);
  color: var(--color-coral);
}
.component6Parent,
.component7,
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.component6Parent,
.component7 {
  align-items: flex-start;
  color: var(--global-white);
}
.component6Parent {
  position: absolute;
  top: 328px;
  left: calc(50% - 574.8px);
  flex-direction: row;
  gap: 51px;
  font-size: 20.04px;
  color: var(--base-shade-100);
}
.chooseThePlan {
  position: absolute;
  top: 873px;
  left: calc(50% - 280px);
  font-size: var(--font-size-title-medium-size);
  line-height: 172.02%;
  color: #cecece;
  display: inline-block;
  width: 560px;
}
.pricing {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 979px;
  overflow: hidden;
  text-align: center;
  font-size: 45px;
  color: var(--global-white);
  font-family: var(--paragraph-1);
}
