.glassset {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-gray-400);
  backdrop-filter: blur(70px);
  width: 596px;
  height: 597px;
}
.changeYourNumber {
  position: absolute;
  top: 52.1px;
  left: calc(50% - 157.8px);
  line-height: 24px;
  display: inline-block;
  width: 314.4px;
  height: 26.1px;
  opacity: 0.8;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 210px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--base-shade-100);
  box-sizing: border-box;
  width: 294px;
  height: 63px;
}
.oldNumber {
  position: absolute;
  top: 18.2px;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 229.9px;
  height: 36.1px;
  opacity: 0.8;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 209.6px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--base-shade-100);
  box-sizing: border-box;
  width: 294.7px;
  height: 63px;
}
.newNumber {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 229.9px;
  height: 31.7px;
  opacity: 0.8;
}
.rectangleGroup {
  position: absolute;
  top: 101px;
  left: 0;
  width: 504.3px;
  height: 63px;
}
.otp,
.otpWrapper {
  position: absolute;
  left: 0;
  width: 229.9px;
  height: 36.1px;
}
.otp {
  top: 0;
  line-height: 24px;
  display: inline-block;
  opacity: 0.8;
}
.otpWrapper {
  top: 245px;
}
.groupWrapper,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 504.3px;
  height: 281.1px;
}
.groupWrapper {
  top: 154px;
  left: 47px;
  font-size: var(--font-size-base-regular-size);
}
.groupInner {
  position: absolute;
  top: 111.3px;
  left: calc(50% - 265.8px);
  width: 530.7px;
  height: 1px;
}
.resendOtp {
  position: absolute;
  top: 449px;
  left: 488px;
  font-size: var(--paragraph-1-size);
  line-height: 24px;
  display: inline-block;
  width: 103px;
  height: 27px;
}
.glasssetParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 596px;
  height: 597px;
}
.groupIcon,
.groupIcon1 {
  position: absolute;
  height: 3.72%;
  width: 3.74%;
  top: 46.28%;
  right: 10.77%;
  bottom: 50%;
  left: 85.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon1 {
  top: 28.39%;
  bottom: 67.89%;
}
.groupParent {
  position: absolute;
  top: 129px;
  left: 301px;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.07);
  width: 596px;
  height: 597px;
  text-align: left;
  font-size: var(--sub-heading-medium-size);
  color: var(--base-shade-100);
  font-family: var(--font-poppins);
}
