.productSummaryChild {
  position: absolute;
  top: 16.5px;
  left: 191.5px;
  border-right: 1px solid var(--grey-grey-50);
  box-sizing: border-box;
  width: 1px;
  height: 92px;
}
.productSummary {
  position: absolute;
  top: 318px;
  left: 1024px;
  border-radius: var(--br-5xs);
  background-color: var(--global-white);
  width: 384px;
  height: 145px;
  overflow: hidden;
}
