@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Myanmar+Khyay:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-1-medium: Inter;
  --font-size-base-regular: "Public Sans";
  --font-montserrat: Montserrat;
  --font-poppins: Poppins;
  --font-lexend: Lexend;
  --font-open-sans: "Open Sans";
  --font-myanmar-khyay: "Myanmar Khyay";
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-base-regular-size: 16px;
  --font-size-title-medium-size: 18px;
  --paragraph-1-size: 12px;
  --sub-heading-medium-size: 20px;
  --font-size-17xl: 36px;
  --body-2-regular-size: 14px;
  --heading-1-semi-bold-size: 30px;
  --font-size-13xl: 32px;
  --font-size-3xs: 10px;
  --font-size-smi-5: 12.5px;
  --font-size-4xs-7: 8.7px;
  --font-size-4xs-1: 8.1px;
  --font-size-45xl: 64px;
  --font-size-5xl: 24px;
  --font-size-6xl: 25px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-9xl: 28px;
  --font-size-41xl-1: 60.1px;
  --font-size-11xl-1: 30.1px;

  /* Colors */
  --warning-warning-500: #f79009;
  --color-darkorange-200: #e4820d;
  --color-darkorange-100: #e8750b;
  --color-darkorange-300: rgba(244, 136, 8, 0.5);
  --color-bisque: #ffddc8;
  --base-shade-100: #000;
  --global-white: #fff;
  --grey-soft-1: #f5f5f8;
  --global-slate-10: #eef2f5;
  --grey-grey-50: #f0f1f3;
  --color-whitesmoke-100: #eee;
  --gray-gray-500: #718096;
  --global-slate-70: #6f7a81;
  --global-slate-701: #6e7880;
  --gray-500: #667085;
  --grey-grey-600: #5d6679;
  --color-gray-100: #8d8d8d;
  --color-gray-200: #838383;
  --global-slate-110: #172733;
  --color-gray-300: #1e1e1e;
  --color-gray-400: rgba(255, 255, 255, 0.15);
  --gray-300: #d0d5dd;
  --gray-gray-300: #cbd5e0;
  --grey-grey-100: #d0d3d9;
  --global-slate-30: #c7cfd5;
  --neutral-blue-black-40: #e4e5e7;
  --global-slate-20: #dde3e7;
  --darik: #252b5d;
  --color-dimgray-100: #565353;
  --color-dimgray-200: #4d4d4d;
  --color-darkgray: #aeaeae;
  --color-blueviolet: #4e00b2;
  --primary-primary-500: #1570ef;
  --primary-primary-600: #1366d9;
  --grey-grey-700: #48505e;
  --color-darkslategray-100: #234f68;
  --color-darkslategray-200: #444;
  --grey-grey-800: #383e49;
  --gray-gray-700: #2d3748;
  --color-darkslategray-300: #333232;
  --grey-grey-900: #2b2f38;
  --color-tomato: #ee6225;
  --grey-grey-400: #858d9d;
  --success-success-500: #12b76a;
  --error-error-400: #f36960;
  --color-dodgerblue: #0b7ee8;
  --color-red: #e31212;
  --color-coral: #ff7227;
  --gray-gray-400: #a0aec0;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-lg: 18px;
  --gap-8xs: 5px;
  --gap-7xs: 6px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-7xl: 26px;
  --gap-11xs: 2px;
  --gap-3xl: 22px;
  --gap-2xl: 21px;
  --gap-11xl-1: 30.1px;
  --gap-4xs-4: 8.4px;

  /* Paddings */
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-5xl: 24px;
  --padding-29xl: 48px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-17xl: 36px;
  --padding-xs: 12px;
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-13xl: 32px;
  --padding-mini: 15px;
  --padding-5xs: 8px;
  --padding-21xl: 40px;
  --padding-4xs: 9px;
  --padding-mid: 17px;
  --padding-4xl-4: 23.4px;
  --padding-41xl-1: 60.1px;
  --padding-xl: 20px;
  --padding-17xl-7: 36.7px;

  /* Border radiuses */
  --br-100xl: 119px;
  --br-5xs: 8px;
  --br-6xl: 25px;
  --br-7xs: 6px;
  --br-8xl: 27px;
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-9xs: 4px;
  --br-mid-9: 17.9px;
  --br-3xs: 10px;
  --br-2xs: 11px;
  --br-base: 16px;
  --br-mini: 15px;
  --br-xl: 20px;
  --br-17xl: 36px;
  --br-26xl-1: 45.1px;
  --br-148xl: 167px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
